.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 35px;
  width: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 12vh;
  padding-top: 10px;
  border-top: 4px solid #fff;
}

.item .number {
  color: #ced4da;
}

.item.open {
  border-top: 4px solid #087f5b;
  height: 25vh;
}

.item.open .number,
.item.open .item-question-answer .text {
  color: #087f5b;
}

.item-question-answer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
}

.content-box {
  font-size: 16px;
}
